h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
  line-height: 5px;
}
p {
  font-family: "Oswald", sans-serif;
  font: outline;
  line-height: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: blue;
}
span {
  font-family: slk;
  font: outline;
  line-height: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: red;
}
